/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Login form styles */
#loginContainer {
    text-align: center;
    margin-top: 50px;
}

#loginForm {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 20px;
}

#loginForm input {
    margin-bottom: 10px;
}

/* Container styles */
#loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Login form styles */
#loginForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Adjust the width of form#loginForm */
form#loginForm {
    width: calc(100% - 40px); /* Subtracting the total horizontal padding (20px on each side) */
}

/* Input field styles */
#loginForm input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Login button styles */
#loginForm button {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Login button hover effect */
#loginForm button:hover {
    background-color: #0056b3;
}

/* Error message styles */
#loginError {
    color: red;
    margin-top: 10px;
}

/* Title styles */
#loginContainer h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form container styles */
#loginForm {
    width: 500px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    #loginForm {
        width: 80%;
    }
}

#loginError {
    color: red;
}

/* Home screen styles */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
}

#logoutBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#homeScreen {
    text-align: center;
    padding: 20px;
}

#cityList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cityItem {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    cursor: pointer; /* Add cursor pointer for clickable effect */
}

.cityName {
    font-weight: bold;
    text-transform: capitalize; 
}

.deleteBtn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #cc4c39;
}

/* City details popup styles */
#cityDetailsPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Set the width to 80% of the viewport width */
    max-width: 900px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#cityDetailsContent {
    text-align: center;
}

#cityDetailsContent h2 {
    margin-bottom: 10px;
}

#cityDetailsContent p {
    margin-bottom: 5px;
}

#deleteCityBtn {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px
}

#deleteCityBtn:hover {
    background-color: #cc4c39;
}

#weatherCharts {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
}

/* Chart styles */
canvas {
    width: 90%;
    max-width: 700px;
    height: auto;
}

#closePopup {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#addCityBtn {
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#addCityBtn:hover {
    background-color: #45a049;
}

#map {
    margin: 20px;
    width: 80%; 
    height: 500px; 
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  